h1 {
   font-family: 'Kanit', sans-serif;
   font-size: 100px;
   text-align: center;
   color: #379683;
}

h2 {
   font-family: 'Kanit', sans-serif;
   font-size: 30px;
   text-align: center;
   color: #05386b;
}

h3 {
   font: 16px / 1.5 'Raleway', sans-serif;
   color: #edf5e1;
}

a:link {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
   color: #edf5e1;
}

a:visited {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
   color: #edf5e1;
}

a:hover {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
   color: #379683;
}

a:active {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
   color: #edf5e1;
}

footer {
   text-align: center;
   background-color: #05386b;
   padding: 2%;
   margin-top: 5%;
}

.footer-container {
   display: flex;
   justify-content: center;
}

.footer {
   color: #edf5e1;
   font-size: 16px;
   padding: 1%;
   width: 170px;
}

.footer-message {
   font: 20px Raleway, sans-serif;
   color: #379683;
   padding: 15px 60px;
}

#back-to-home {
   color: #edf5e1;
   padding: 30px;
}

#back-to-home:hover {
   color: #379683;
}

.link-to-top {
   width: 40px;
   height: 40px;
   background-color: #05386b;
   border-radius: 50%;
   line-height: 20px;
   margin-top: -5px;
   text-align: center;
}
