h1 {
   font-family: Kanit, sans-serif;
   font-size: 100px;
   text-align: center;
   color: #f7931e;
}

h2 {
   font-family: Kanit, sans-serif;
   font-size: 30px;
   text-align: center;
   color: #3f6844;
}

h3 {
   font: 21px / 1.5 Kanit, sans-serif;
   color: #fff;
}

a:link {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
}

a:visited {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
}

a:hover {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
   /* transition: .3s ease-in; */
}

a:active {
   font: 20px Raleway, sans-serif;
   text-decoration: none;
}

footer {
   text-align: center;
   background-color: #00a99d;
   padding: 2%;
   margin-top: 5%;
}

.footer-container {
   display: flex;
   justify-content: center;
}

.footer {
   color: #f4fdff;
   font-size: 20px;
   padding: 1%;
   margin: 0 2%;
}

.footer:hover {
   color: #f4fdff;
   font-size: 20px;
   /* transition: .5s; */
   padding: 1%;
   margin: 0 2%;
   text-shadow: 2px 2px #b3b3b3;
}

.footer-message {
   font: 20px Raleway, sans-serif;
   color: #f4fdff;
   padding: 15px 60px;
}

#back-to-home {
   color: #edf5e1;
   padding: 30px;
}

#back-to-home:hover {
   color: #379683;
}

.link-to-top {
   width: 40px;
   height: 40px;
   background-color: #05386b;
   border-radius: 50%;
   line-height: 20px;
   margin-top: -5px;
   text-align: center;
}

.before-text {
   text-align: center;
   font: 20px / 1.5 Raleway, sans-serif;
   color: #333;
}
