main {
   width: calc(5 * var(--grid-unit));
   margin: 0 auto;
}

.slick-img {
   margin: auto;
   width: 300px;
   height: 200px;
}

#anne-img {
   margin: auto;
   width: 129px;
   height: 200px;
}

#self-portrait {
   margin: auto;
   width: 218px;
   height: 200px;
}

#big-anne-img {
   margin: auto;
   width: 300px;
   height: 167px;
}

#narrative-img {
   margin: auto;
   width: 300px;
   height: 180px;
}

#bw-img {
   margin: auto;
   width: 150px;
   height: 200px;
}

#chester-img {
   margin: auto;
   width: 150px;
   height: 200px;
}

#ripley-img {
   margin: auto;
   width: 250px;
   height: 200px;
}

#claire-img {
   margin: auto;
   width: 250px;
   height: 200px;
}

#corgi-img {
   margin: auto;
   width: 160px;
   height: 200px;
}

.watercolor-9-12-img {
   margin: auto;
   width: 267px;
   height: 200px;
}

#tree-img {
   margin: auto;
   width: 109px;
   height: 200px;
}

.bac-img {
   margin: auto;
   width: 400px;
   height: 422px;
}

.book-big {
   width: 300px;
   height: 450px;
}

.post {
   width: 400px;
   margin: 5% auto;
}

.cot-design {
   width: 370px;
   margin: 5% auto;
}

.post-design {
   width: 400px;
   margin: 5% auto;
}

.drawing-nav {
   color: #f47500;
   font: 30px Kanit, sans-serif;
   text-align: center;
   padding: 1% 0;
}

.drawing-nav:hover {
   text-shadow: 2px 2px #b3b3b3;
}

.drawing-section {
   font: 30px Kanit, sans-serif;
   color: #f47500;
   text-shadow: 3px 3px #b3b3b3;
   text-align: center;
   padding: 11% 0 1%;
}

.img-title {
   text-align: center;
   font: 16px Raleway, sans-serif;
   color: #333;
   margin: 1% 0;
}

.px-img {
   margin: auto;
   width: 300px;
   height: 300px;
}

#caroline-intro {
   color: #00a99d;
   text-shadow: 3px 3px #b3b3b3;
   margin-top: 5%;
   font-size: 40px;
}

.title-intro {
   color: #b3b3b3;
   margin-bottom: 5%;
   font-size: 16px;
}

#before-logo-text {
   text-align: center;
   font: 20px / 1.5 Raleway, sans-serif;
   color: #333;
}
