body {
  line-height: 1.4;
}

.nav-container {
  margin: 30px 40px 20px;
}

.nav-link {
  padding: 10px 5px;
  font-size: 16px;
}

.flex-between {
  display: block;
}

.box-subhead {
  font-size: 16px;
}

.box-head {
  font-size: 20px;
}

.image-caption {
  width: 100%;
  padding: 0;
  text-align: center;
}

.caption-head {
  font-size: 30px;
}

.caption-subhead {
  font-size: 24px;
}

.margin {
  margin: 40px 20px;
}

.inline-container {
  display:block;
}

.inline-image {
  display: none;
}

.inline-blurb-container {
  padding: 10px;
  width: 100%;
}

.inline-blurb {
  margin: 10px 10px 10px;
}

.footer-head {
  font-size: 20px;
}

.email-link {
  font-size: 16px;
}

.social-image {
  padding: 4px;
}

.stats {
  display: block;
}

.blurb {
  width: 100%;
  padding: 0;
}

.intro-about {
  display: block;
  justify-content: center;
}

.about-head {
  font-size: 20px;
}

.about-paragraph-intro {
  padding: 40px 0px;
}

.about-image {
  display: none;
}

.about-head {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form-double {
  display: block;
}

.image-header {
  
}
