
html {
  width: 100vw;
  height: 100vh;
}

h2 {
font: 400 30px 'Poppins', sans-serif;
line-height: 1.6;
}

h3 {
font: 700 80px 'Poppins', sans-serif;
text-transform: uppercase;
line-height: 1;
hanging-punctuation: first;
}

h4 {
font: 500 22px  'Poppins', sans-serif;
text-transform: uppercase;
}

p {
  font: 500 22px  'Poppins', sans-serif;
}

ul {
  margin: auto;
}

li {
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
  position: relative;
}

.project-page {
  display: flex;
}

.vote-for-her {
  background-color: #FBBDC9;
  color: white;
  transition: background-color 1s ease;
}

.three-trips {
  background-color: #fff;
  color: white;
  transition: background-color 1s ease;
}

.risd-museum {
  background-color: #BFEAFF;
  color: white;
  transition: background-color 1s ease;
}

.direct-mail {
  background-color: #FAEADF;
  color: white;
  transition: background-color 1s ease;
}

.dogs {
  background-color: #FFE6D2;
  color: white;
  transition: background-color 1s ease;
}

.japan {
  background-color: #F6E0B1;
  color: white;
  transition: background-color 1s ease;
}

.field-notes {
  background-color: #BFEAFF;
  color: white;
  transition: background-color 1s ease;
}

.control-of-nature {
  background-color: #BFEAFF;
  color: white;
  transition: background-color 1s ease;
}

.about-page {
  background-color: #BFEAFF;
  color: white;
  transition: background-color 1s ease;
}

.carousel-item {
  display: none;
}

.carousel {
  width: 80%;
  height: 80vh;
}

.carousel-wrapper {
  width: 80%;
  height: 100vh;
}

.image {
  display: block;
  margin: auto;
  position: relative;
  height: 70vh;
  padding-top: 3vh;
}

.image-long {
  width: 65vw;
  height: auto;
  padding-top: 15vh;
}

.image-long-less-padding {
  width: 65vw;
  height: auto;
  padding-top: 5vh;
}

.image-long-no-padding {
  width: 65vw;
  height: auto;
  padding-top: 0vh;
}

.flex-image-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.image-left {
  width: 30vw;
  height: auto;
  z-index: 10;
  padding: 15px;
}

.image-right {
  width: 30vw;
  height: auto;
  z-index: 9;
  padding: 15px;
}

.image-top {
  width: 33vw;
  height: auto;
  z-index: 10;
  padding: 15px;
}

.image-bottom {
  width: 33vw;
  height: auto;
  z-index: 9;
  padding: 15px;
}


.drop-shadow {
  filter: drop-shadow(-8px 10px 12px #555);
}

.live-image {
  display: block;
  margin: auto;
  animation: clip 0.4s ease-in-out
}

@keyframes clip {
  0% {
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: inset(0 100% 0 0);
  }
  100% {
      -webkit-clip-path: inset(0%);
      clip-path: inset(0%);
  }
}

.carousel-title {
  transform: translateY(20px);
  margin: auto;
  display: inline-block;
}

.carousel-title-work {
  transform: translateY(-200px);
  margin: auto;
  display: inline-block;
}

.carousel-header {
  display: block;
  margin: 0px;
  color: white;
  text-align: left;

}

.carousel-subheader-right {
  display: block;
  margin: 0px;
  color: white;
  text-align: right;
}

.carousel-subheader-left {
  display: block;
  margin: 0px;
  color: white;
  text-align: left;
}

.carousel-button {
  display: block;
  width: 4%;
  margin: auto;
  padding: 20px;
}

.carousel-button:hover {
  cursor: pointer;
  transition: 0.3s;
  width: 5%;
}

.button-wrapper {
  height: 10vh;
}

#carousel-button-next {
  transform: rotate(180deg);
}

.nav-item {
  position: relative;
  width: 10%;
}

.about {
  transform: rotate(90deg);
  transform-origin: center center;
  margin-top: 45vh;
  color: #000;
}

.work {
  transform: rotate(270deg);
  transform-origin: center center;
  margin-top: 30vh;
  color: #000;
}

.underline {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  margin: none;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline:hover {
  cursor: pointer;
}

.underline:hover:after {
  width: 60%;
  left: 22%;
}

.logo {
  width: 70px;
  margin: 30px;
}

.logo:hover {
  transform: rotate(360deg);
  transition: .3s;
}

.text-black {
  color: black;
}

.info-wrapper {
  width: 500px;
  margin: auto;
  padding: 10% 0;
}

.info-header {
  text-align: left;
  font-size: 50px;
  margin-bottom: 30px;
}

.info-paragraph {
  text-align: left;
  margin-bottom: 30px;
}

.next-project {
  text-align: left;
  display: inline-block;
}

.next-project:hover {
  color: #aaa;
}

.twitter-tweet {
  margin: auto;
}

.work-item {
  text-align: center;
  font-size: 70px;
}

.work-item:hover {
  color: #aaa;
}

.work-page {
  margin-top: 12vh;
}
