#home-page {
   background-color: white;
   height: 100vh;
   width: 100vw;
}

#home-container {
   position: relative;
}

#home-box {
   position: absolute;
   bottom: -80vh;
   right: -15vw;
   display: flex;
   justify-content: space-around;
}

.first-nav {
   transform: rotate(-90deg);
   transform-origin: left;
}
