/* dark-blue: 142850
light-blue: 27496d
turquoize: 00909e
white: dae1e7 */

html {
  scroll-behavior: smooth;
}

.home {
  width: 100vw;
  height: 100vh;
  background-color: #142850
}

.home-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.home-header {
  font: 800 100px 'brandon-grotesque', sans-serif;
  line-height: 1.0;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 28vh;
}

.home-subheader {
  text-align: left;
  font: 800 30px 'brandon-grotesque', sans-serif;
  line-height: 1.0;
  color: #142850;
  text-transform: uppercase;
  display: block;
  margin: 2vh 0 0 2vw;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.this-way {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-top: 16vh;
}

.this-way-text {
  font: 400 24px 'brandon-grotesque', sans-serif;
  color: white;
  padding-bottom: 5px;
}

.nav-home {
  display: flex;
  text-align: right;
  margin: 2vh 2vw 0 0;
}

.nav-home-list {
  padding: 24px;
  color: white;
  font: 800 30px 'brandon-grotesque', sans-serif;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.home-top {
  display: flex;
  justify-content: space-between;
}

.work-section {
  position: relative;
  display: flex;
}

.about-section {
  position: relative;
  display: flex;
  width: 100vw;
  background-color: #00909e;
}

.contact-section {
  position: relative;
  display: flex;
  background-color: #142850;
}

.about {
  margin-left: 50vw;
  background-color: #dae1e7;
}

.contact {
  margin-left: 50vw;
  background-color: #dae1e7;
}

.left-nav {
  position: sticky;
  height: 100vh;
  width: 50vw;
  left: 0px;
  top: 0px;
  z-index: 10;
  background-color: #dae1e7;
  transition: .7s;

}

.work-nav {
  position: relative;
  height: 100vh;
  width: 50vw;
  z-index: 10;
  transition: .7s;
}

.about-nav {
  position: relative;
  height: 100vh;
}

.contact-nav {
  position: relative;
  height: 100vh;
}

.align-center {
  position: absolute;
  top: 48%;
  width: 50vw;
  vertical-align: middle;
  display: inline-block;
}

.align-center-right {
  position: absolute;
  margin: 45vh 0 0 0;
  width: 50vw;
  height: auto;
  display: inline-block;
  text-shadow: 2px 2px 10px #000;

}

.align-center-left-work {
  position: absolute;
  top: 46%;
  width: 50vw;
  vertical-align: middle;
  display: inline-block;
}

.nav-header {
  font: 800 60px 'brandon-grotesque', sans-serif;
  color: #142850;
  text-align: center;
}

.nav-subheader {
  font: 400 20px 'brandon-grotesque', sans-serif;
  text-align: center;
  padding: 0 20px;
}

.nav-list {
  font: 400 24px 'brandon-grotesque', sans-serif;
  display: inline-block;
  margin: 8px 12px;
}

a:hover {
  color: #00909e;
}

a {
  color: inherit;
  text-decoration:none;
}

.nav-bottom {
  text-align: center;
  position: absolute;
  bottom: 3%;
  width: 50vw;
}

.right-side {
  position: relative;
  width: 50vw;
  height: 100vh;
  top: 0px;
  z-index: 0;
  transition: 0.7s;
}

.right-side-about-contact {
  position: relative;
  width: 50vw;
  top: 0px;
  z-index: 0;
}

.work-header {
  font: 800 50px 'brandon-grotesque', sans-serif;
  text-align: center;
  color: white;
  line-height: 1.6;
}

.work-subheader {
  font: 800 24px 'brandon-grotesque', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.header {
  position: relative;
}

.home-image {
  position: absolute;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  transition: 1s;
}

.home-image:hover {
  transform: scale(1.03);
  transition: 1s;
}

.about-container {
  padding: 10vh 10vw;
}

.about-paragraph {
  font: 200 20px 'brandon-grotesque', sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-paragraph-bold {
  font: 800 20px 'brandon-grotesque', sans-serif;
}

.about-paragraph-header {
  font: 800 26px 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.active-link {
  color: #00909e;
}

.arrows {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 200;
  color: white;
  bottom: 10%;
  transform: translateX(-52px);
}

.learn-more {
  display: block;
  margin: 100px;
  transform: translate(-52px, -80px);
  text-align: center;
}

.learn-more:hover {
  cursor: pointer;
}

.arrows:hover {
  cursor: pointer;
}

.learn-more-text {
  display: inline;
  position: absolute;
  padding: 7px 12px;
  color: white;
  font: 400 20px 'brandon-grotesque', sans-serif;
}

.next-text {
  display: inline;
  position: absolute;
  padding: 7px 12px;
  color: white;
  font: 400 20px 'brandon-grotesque', sans-serif;
}

.learn-more-circle {
  position: absolute;
  height: 40px;
  width: 125px;
}

.circle {
  transition: 0.7s;
}

.next-circle {
  transition: 0.7s;
}

#seltzer-content {
  display: none;
  position: relative;
  width: auto;
}

#risd-content {
  display: none;
  position: relative;
  width: auto;
}

#three-trips-content {
  display: none;
  position: relative;
  width: auto;
}

#japan-content {
  display: none;
  position: relative;
  width: auto;
}

#apiary-content {
  display: none;
  position: relative;
  width: auto;
}

#dogs-content {
  display: none;
  position: relative;
  width: auto;
}

#field-notes-content {
  display: none;
  position: relative;
  width: auto;
}

#direct-mail-content {
  display: none;
  position: relative;
  width: auto;
}

#vote-for-her-content {
  display: none;
  position: relative;
  width: auto;
}

#peters-content {
  display: none;
  position: relative;
  width: auto;
}

.intro-work-paragraph-1 {
  font: 200 20px 'brandon-grotesque', sans-serif;
  line-height: 1.8;
  margin: 10% 20% 0%;
  background-color: white;
}

.intro-work-paragraph-2 {
  font: 200 20px 'brandon-grotesque', sans-serif;
  line-height: 1.8;
  margin: 4% 20% 10%;
  background-color: white;
}

.work-paragraph {
  font: 200 20px 'brandon-grotesque', sans-serif;
  line-height: 1.8;
  margin: 10% 20%;
  background-color: white;
}

.twitter-video {
  margin-left: 15vw;
  margin-bottom: 10vw;
}

.seltzer-paragraph {
  font: 200 20px 'brandon-grotesque', sans-serif;
  line-height: 1.8;
  padding: 10% 0;
}

.close-work {
  position: absolute;
  left: 93%;
  top: 15%;
  height: 60px;
  width: 60px;
  display: none;
  transition: 0.7s;
  cursor: pointer
}

.caroline-photo {
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 12vh 0 0 45vw;
  text-align: center;
}

.work-header-paragraph {
  font: 800 40px 'brandon-grotesque', sans-serif;
  color: black;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10%;
}

.work-subheader-paragraph {
  font: 800 24px 'brandon-grotesque', sans-serif;
  color: black;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  padding: 10% 0;
}

.flex-image {
  display: flex;
  justify-content: space-between;
}

.flex-logo-image {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
  overflow: hidden;
}

.can-flex-image {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.flex-can-image {
  width: 30vw;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.work-image {
  width: 40vw;
  height: auto;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

.work-image-full-bleed {
  width: 50vw;
  height: auto;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
}

.work-image-three {
  width: 20vw;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.polar {
  background-color: #BDD0EA;
  padding: 10% 20%

}

.schweppes {
  background-color: #fff5d3;
  padding: 10% 20%

}

.lacroix {
  background-color: #F4D5D6;
  padding: 10% 20%

}

.carousel-item {
  width: 50vw;
  height: 100vh;
}

input[type=text], select, textarea {
  width: 50%;
  border: none;
  border-bottom: 3px solid #142850;
  background: transparent;
  padding: 12px 20px;
  cursor: pointer;
  margin: 6px 0 16px 0;
  resize: none;
  font: 400 20px 'brandon-grotesque', sans-serif;

}

#message {
  padding: 12px 20px;
  margin: 6px 0 16px 0;
  background-color: #14285022;
  border: none;
}

input[type=submit] {
  font: 400 24px 'brandon-grotesque', sans-serif;
  display: block;
  width: 55%;
  height: 50px;
  text-align: center;
  margin: auto;
  border: none;
  background-color: #142850;
  color: white;
}

input:hover, textarea:hover {
  cursor: text;
}

input[type=submit]:hover {
  background-color: #142850aa;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-bottom: 3px solid #00909e;
}

#submit:focus {
  background-color: #00909e;
}

#submit:hover {
  background-color: #00909e;
  cursor: pointer;
}

.contact-container {
  width: 50vw;
  margin: auto;
  text-align: center;
}

.form-container {
  text-align: center;
  width: auto;
  padding-top: 10vh;

}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
