.nav-container {
  margin: 30px 70px 20px;
}

.nav-link {
  padding: 10px;
  font-size: 20px;
}

.box-head {
  font-size: 20px;
}

.margin {
  margin: 40px 50px;
}

.inline-blurb-container {
  padding: 20px;
  width: 100%;
}

.inline-blurb {
  margin: 10px 10px 10px;
}

.intro-head {
  font-size: 40px;
}

.intro-subhead {
}

.art-image {
  right: auto;
  /* width: 100%;
  height: auto; */
}

.intro-blurb {
  text-align: center;
  width: 400px;
}

.blurb {
  width: 100%;
}

.intro-home {
  margin: 50px;
}

.art-image {
  width: 400px;
  height: auto;
}

.inline-image {
  display: none;
}

.stats {
  display: block;
}
.image-caption {
  max-width: 300vw;
}

.caption-head {
  font-size: 40px;
}

.footer-head {
  font-size: 24px;
}

.email-link {
  font-size: 20px;
}

.about-head {
  font-size: 30px;
}

.about-image-home {
  width: 100px;
}

.about-image {
  margin-left: 30%;
}

.about-section-container {
  display: block;
}

.about-paragraph-intro {
  font-size: 16px;
  line-height: 1.4;
}

.about-paragraph {
  font-size: 16px;
  line-height: 1.4;
}

.about-paragraph-intro {
  padding: 40px 0px;
}

.form-container {
  width: 100%
}

.contact-form-double {
  display: block;
}

.contact-input-half {
  width: 80%;
}

.contact-input {
  width: 80%;
}

#submit {
  width: 82%;
}

.flex-between {
  display: block;
}
