
h1 {
  font-size: 25px;
  margin-top: 60px;
  line-height: 1;
}

.coffee-title-voltage {
  font-size: 23px;
}

.top {
  height: 140px;
}

#coffee-title-behind {
  transform: translate(.8px,1.6px);
}

.coffee-svg {
  transform: matrix(0.4, 0, 0, 0.4, 100, -90);
  transform-origin: left;
}

.flex-buttons {
  transform: translateY(-190px);
}

.break {
  display: block;
}

.drink-flex {
  display: block;
}

.drink-flex-tablet {
  width: 100%;
}

.drink-info {
  width: 230px;
  transform: translateY(-130px);
}
