body {
  font-size: 18pt;
  overflow: scroll;
}

h1 {
  font-size: 40px;
  margin-top: 60px;
}

.top {
  height: 140px;
}

.coffee-title-voltage {
  font-size: 35px;
}

#coffee-title-behind {
  transform: translate(1px,2px);
}

.coffee-svg {
  transform: translateY(-20px);
}

.flex-buttons {
  justify-content: center;
  transform: translateY(-90px);
}

.drink-info {
  width: 470px;
  transform: translateY(-50px);
}

.drink-flex-tablet {
  display: block;
}

#drinkBlurb {
  font-size: 18pt;
  width: 100%;
}

#drinkCup {
  font-size: 18pt;
  width: 100%;
}
#drinkRatio {
  font-size: 18pt;
  width: 100%;
}
